/*
style.css
---------
*/
   body { font: 14px Helvetica, Sans-Serif; line-height: 24px; background: url(images/noise.jpg); }

   #page-wrap { width: 800px; margin: 60px auto 60px; }

   h1 
   {
   	color: black	;
   	font-size:20px;
   	font-family:"MS Trebuchet",arial, sans-serif;
   	font-weight:bold;
   	font-style: italic;
   	text-decoration: underline;
   	}

   h2
   {
   	color: black;	
   	font-size:18px;
   	font-family:"MS Trebuchet",arial, sans-serif;
   	font-weight:bold;
   	font-style: italic;
   	text-decoration: underline;
   	}

   h3 
   {
   	color: black;
   	font-size:16px;
   	font-family:"MS Trebuchet",arial, sans-serif;
   	font-weight:bold;
   	font-style: italic;
   	text-decoration: underline;
   	}
   #picture
        {
            float: right; margin: -30px 0 0 0; 
            background-color: #FFF;
            -webkit-transform: rotate(-4deg);
            -moz-transform: rotate(-4deg);
            -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
            padding: 12px;
            border: 1px solid #EEE;
            height:50%;
        }
   </style